@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Aria, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
.imageThumbnail {
    height: 200px;
    width: auto;
}
/**/
html {
    height: 100%;
}

body {
    background-color:white;
}

.loader {
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

    .inner.one {
        left: 0%;
        top: 0%;
        animation: rotate-one 1s linear infinite;
        border-bottom: 5px solid #EFEFFA;
    }

    .inner.two {
        right: 0%;
        top: 0%;
        animation: rotate-two 1s linear infinite;
        border-right: 5px solid #EFEFFA;
    }

    .inner.three {
        right: 0%;
        bottom: 0%;
        animation: rotate-three 1s linear infinite;
        border-top: 5px solid #EFEFFA;
    }

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
.HideFooter {
    display: none;
}

/* Trang Chu*/
.section {
    background-color: white;
    margin-top: 20px;
    width: 1900px;
    height: auto;
}
.banner{
    width:1900px;
    height:auto;
}
.tb{
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
    padding-top:20px;
}
/*TEST*/
figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}
.imgfigure{
   
}


figcaption {
    background-color: white;
    color: #333333;
    padding: 2px;
    text-align: center;
    font-size: 17px;
    font-weight: bold
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 6px 4px;
    cursor: pointer;
    border: 2px solid #DC143C;
}
    .button:hover {
        background-color: #DC143C;
        color: white;
    }
.buttonround {
    height: 40px;
    width: 40px;
    margin: 6px 4px;
    padding: 5px 10px;
    border-radius: 50%;
    background-image: conic-gradient(red 0deg, red 180deg,#D02B2B 180deg, #D02B2B 360deg);
    border: solid 1px #8a8a8a;
}
.br1 {
    background-image: conic-gradient(#CFCFCF 0deg, #CFCFCF 180deg,white 180deg, white 360deg);
}
.br2 {
    background-image: conic-gradient(#757979 0deg, #757979 180deg,#5F6363 180deg, #5F6363 360deg);
}
.br3 {
    background-image: conic-gradient(#262626 0deg, #262626 180deg,black 180deg, black 360deg);
}
.br4 {
    background-image: conic-gradient(#868686 0deg, #868686 180deg,#999999 180deg, #999999 360deg);
}
