@page "/editproduct/{id}"
@inherits EditProductBase

<EditForm Model="@Product">
    <h3>Edit Product</h3>
    <hr />
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">
            Name
        </label>
        <div class="col-sm-10">
            <InputText id="name" class="form-control" placeholder="Name"
                       @bind-Value="Product.Name" />
        </div>
    </div>
</EditForm>