@page "/"
@inherits ProductListBase
<img class="banner" src="/image/banner1.jpg"/>
<section class="section">
    <table class="tb">
        <tr>
            <td align="center">
                <figure>
                    <img src="/image/luxa.jpg">
                    <figcaption>LUX A2.0</figcaption>
                </figure>
            </td>
            <td align="center">
                <figure>
                    <img src="/image/luxsa.jpg">
                    <figcaption>LUX SA2.0</figcaption>
                </figure>
            </td>
            <td align="center">
                <figure>
                    <img src="/image/fadilhight.jpg">
                    <figcaption>FADIL</figcaption>
                </figure>
            </td>
        </tr>
    </table>
    <hr />
    <table class="tb">
        <tr>
            <td align="center" width="50%"><img src="/image/sa.png" /></td>
            <td align="center" width="50%">
                <h1>LUX SA2.0</h1>
                <hr />
                <h5>Số tiền đặt cọc</h5><h2 style="color:cornflowerblue">50.000.000 vnđ</h2><br />
                <h5>Lựa chọn phiên bảng xe</h5>
                <div>
                    <button class="button">TIÊU CHUẨN</button>
                    <button class="button">NÂNG CAO</button>
                    <button class="button">CAO CẤP</button>
                </div>
                <div>
                    <button class="buttonround"></button>
                    <button class="buttonround br1"></button>
                    <button class="buttonround br2"></button>
                    <button class="buttonround br3"></button>
                    <button class="buttonround br4"></button>
                </div>
            </td>
        </tr>
    </table>
</section>
