@inherits LayoutComponentBase

        <div class="navigation-bar">
            <div id="navigation-container">       
                <ul>
                    <li><img src="../image/logo.png"></li>
                    <li><a href="https://localhost:44303/allproduct">Tất cả sản phẩm</a></li>
                    <li><a href="#">Ô tô</a></li>
                    <li><a href="#">Xe máy điện</a></li>
                    <li><a href="#">Ưu đãi</a></li>
                    <li><a href="#">Dịch vụ</a></li>
                    <li><a href="#">Công cụ</a></li>
                </ul>
                <ul>
                    <li><a href="#">Tài khoản</a></li>
              
                </ul>
            </div>
        </div>

    <div class="page">
       

        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
